@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(229, 23%, 23%);
}

.container {
    background-color: white;
    width: 60%;
    align-items: center;
}

#uppersection {
    width: 100%;
}